/* .card-group-4 .card {
  width: 30%;
  padding: 1rem;
  margin: 1rem auto 1rem 0;
} */
/* 
.rounded-4 {
  border-radius: 0.4rem;
}

.rounded-5 {
  border-radius: 0.5rem;
} */

.btn-lead {
  min-width: 15rem !important;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.card-group-4 .card {
  /* border-radius: 0.75rem; */
  font-size: 2.5rem;
  padding: 2.5rem 0;
  flex-direction: column;
  align-content: center;
  background-size: cover;
}

.card-group-4,
.card-group-3 {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .card-group-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .card-group-3 {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    background-position: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .card-group-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}
